body{
  height: 100vh;
}
.colorChange{
  text-align: center;
  font-size: small;
}
/* .evenOddContainer{
  padding: 20px;
  font-size: 1.8rem;
} */
.spanInput{
  background-color: rgb(204, 114, 114);
  font-weight: bold;
}
.margin{
  margin: 5px;
}
.calculator{
  text-align: center;
}
button{
  background-color: rgb(73, 63, 5);
  border-radius: 10px;
  color: white;
  padding: 0.5rem 1rem;
}
button:hover{
  background-color: rgb(100, 86, 5);
  color: white;
}
input{
  padding: 5px 20px;
  border-radius: 10px;
}
form{
  border-bottom: 1px solid gray;
}

.revenueContainer, .calculatorContainer, .resizeContainer, .evenOddContainer{
  text-align: center;
  padding: 20px;
  font-size: 1.8rem;
}

/*Media Query*/

@media (max-width: 994px) {
  .navList a{
    font-size: 2rem;
    padding-right: 1px;
  }
}
@media (max-width: 909px) {
  .navList a{
    font-size: 1.7rem;
    padding-right: 0px;
  }
}
@media (max-width: 843px) {
  .navList a{
    font-size: 1.5rem;
    padding-right: 1px;
  }
}
@media (max-width: 787px) {
  .navList a{
    font-size: 1.3rem;
    padding-right: 0px;
  }
}
